{% extends "formatoPrincipal.html" %}

{% block content2 %}
<title>Posibles tendencias MX</title>
{% endblock %}

{% block content %}
<p lang="es" align = "center">Posible tendencia: <b>{{maxData[0]}}</b> con una cantidad de: <b>{{maxData[1]}}</b> replicaciones</p>

<img  class="center" alt="Solvetic" alt="Responsive image" alt="Posibles tendencias del día" src="/static/cursos/2020-II/galimatias/possible_trends.png">
<p align = "center">La gráfica se actualiza cada 30 minutos con las nuevas posibles tendencias
  que surgieron en ese lapso de tiempo</p>
{% endblock %}
