{% extends "formatoPrincipal.html" %}

{% block content2 %}
<title>Historial de tendencias MX</title>

{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"><h2>hashtags del día</h2></a>
  <form class="form-inline" action="/filterHashtag" method="post">
    <input type = "text" name="filter" class="form-control mr-sm-2" type="search" placeholder="¿Buscas un hashtag?" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>
</nav>

  <table class="table">

  <thead class="thead-dark">
    <tr>
      <th scope="col">hashtag</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Día de publicación</th>
    </tr>
  </thead>
  <tbody>
    {% for key, value in dataSet.items() %}
    <tr>
      <th>{{ key }}</th>
      <td>{{value[0]}}</td>
      <td>{{value[1]}}</td>
    </tr>
    {% endfor %}

{% endblock %}
